$primary-color: #000000;
$bg-color: #80c8bd;
$bg-color2: #95D9FF;
$bg-color3: #D6BDFF;
$white-color: #ffffff;
$border-color: #cccccc;
$cta-color: #FF39EB;

$bp-max-sm: 479px;
$bp-min-sm: 480px;
$bp-max-md: 639px;
$bp-min-md: 640px;
$bp-max-lg: 1023px;
$bp-min-lg: 1024px;
$bp-max-xl: 1279px;
$bp-min-xl: 1280px;