@use 'sass:color';
$primary-color: #000000;
$bg-color: #80c8bd;
$bg-color2: #95D9FF;
$bg-color3: #D6BDFF;
$white-color: #ffffff;
$border-color: #cccccc;

:root { 
    * {
        box-sizing: border-box;
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: $primary-color;
    align-items: stretch;
    min-height: 100vh;
    padding-top: 90px;

    @media (min-width: 1024px) {
        padding-top: 0;
    }    
}

.container {
    display: flex;
    flex-direction: column;    
    flex-grow: 1;

    .wrapper:first-child:last-child {
        display: flex;
        flex-direction: column;            
        flex-grow: 1;
    }    
}

.wrapper {
    width: 100%;
    max-width: 1240px;
    box-sizing: border-box;
    margin: 0 auto;
}

.menu-switcher-checkbox {
    display: none;

    &:checked ~ .container {
        @media (max-width: 639px) {
            position: fixed;
        }
        @media (max-width: 1023px) {
            .sidebar {
                transform: translate(0, 0);
            }

            .menu-switcher {
                span {
                    display: none;
                }
                &::before {
                    transform: rotate(45deg);
                    margin-top: -2px;
                }

                &::after {
                    transform: rotate(-45deg);
                    margin-top: -2px;
                }          
            }        
        }     
    }
}

.menu-switcher {
    height: 60px;
    width: 60px;
    position: relative;
    cursor: pointer;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;

    @media (min-width: 1024px) {
        display: none;
    }

    span,
    &::before,
    &::after {
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -2px;
        left: 50%;
        margin-left: -12px;
        height: 4px;
        width: 24px;
        border-radius: 2px;
        background-color: $primary-color;
        transition: transform 500ms;
    }

    &::before,
    &::after {
        content: '';
    }

    &::before {
        margin-top: -10px;
    }

    &::after {
        margin-top: 6px;
    }   
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;    
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 22px;
    color: inherit;
    text-decoration: none;
    padding: 10px 10px 10px 15px;
    border-radius: 40px;
    transition: background-color 300ms;

    &:hover {
        background-color: color.scale(#FF39EB, $alpha: -90%);
    }
    &.active {
        background-color: color.scale(#FF39EB, $alpha: -75%);
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;

        img {
            display: block;
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }

    &__title {
        line-height: 1;
        font-weight: bold;
    }
}

.head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding-inline: 20px;
    padding-block: 6px;
    min-height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: $bg-color2;   
    z-index: 90; 

    @media (min-width: 1024px) {
        position: static;
        background-color: transparent;
        margin-bottom: 28px;
        padding-inline: 0;
    } 

    .head-links {
        margin-left: auto;
    }
}

.head-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.head-link {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 300ms;

    &:hover {
        background-color: color.scale($white-color, $alpha: -60%);

        @media (min-width: 1024px) {
            background-color: color.scale($bg-color, $alpha: -70%);
        }         
    }

    &--tg {
        background-image: url(../img/svg/tg.svg);
    }

    &--vk {
        background-image: url(../img/svg/vk.svg);
    }

    &--phone {
        background-image: url(../img/svg/phone.svg);
        background-size: 18px;
    }
}

.sticky {
    position: sticky;
    top: 10px;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    padding: 65px 15px 30px;    
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: $bg-color3;
    z-index: 95;
    transform: translate(-100%, 0);
    transition: transform 500ms;

    @media (min-width: 640px) {
        width: 260px;
    }
    @media (min-width: 1024px) {
        width: 308px;
        border-right: 1px solid $border-color;
        background-color: transparent;
        position: static;
        flex-shrink: 0;
        transform: none;
        padding: 35px 30px;
    }
    
    nav {
        @media (max-width: 1023px) {
            max-height: 100%;
            overflow: auto;
        }
    }
}

.content {
    flex-grow: 1;
    padding-inline: 20px;
    padding-bottom: 30px;

    @media (min-width: 1024px) {
        padding-inline: 57px;
    }   
    @media (min-width: 1280px) {
        padding-inline: 30px;
    }    
}

.catalog-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;

    @media (min-width: 640px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 1280px) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.catalog-item {
    display: flex;
    flex-direction: column;
    background-color: color.scale($bg-color, $alpha: -70%);
    height: 130px;
    border-radius: 6px;
    color: inherit;
    text-decoration: none;
    padding: 10px;
    min-width: 0;
    overflow: hidden;
    transition: background-color 300ms;

    &:hover {
        background-color: color.scale($bg-color, $alpha: -40%);
    }

    &__title {
        display: block;
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: bold;
    }

    &__text {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__img {
        display: block;
        border-radius: 6px;
        margin: -10px;
        overflow: hidden;
        position: relative;
        flex-grow: 1;
        border: 1px solid color.scale($bg-color, $alpha: -70%);

        &:hover {
            img {
                width: 120%;
                height: 120%;
            }
        }

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: width 300ms, height 300ms;
        }
    }

    @media (max-width: 639px) {
        &:nth-child(2n + 1):last-child {
            display: none;
        }        
    } 

    @media (min-width: 640px) and (max-width: 1023px) {
        &:nth-child(3n + 1):nth-last-child(-n + 2),
        &:nth-child(3n + 2):last-child {
            display: none;
        }        
    } 

    @media (min-width: 1024px) and (max-width: 1279px) {
        &:nth-child(4n + 1):nth-last-child(-n + 3),
        &:nth-child(4n + 2):nth-last-child(-n + 2),
        &:nth-child(4n + 3):last-child {
            display: none;
        }        
    }     

    @media (min-width: 1280px) {
        &:nth-child(5n + 1):nth-last-child(-n + 4),
        &:nth-child(5n + 2):nth-last-child(-n + 3),
        &:nth-child(5n + 3):nth-last-child(-n + 2),
        &:nth-child(5n + 4):last-child {
            display: none;
        }
    }     
}

footer {
    border-top: 1px solid $border-color;
    padding: 10px 20px;
    background-color: $bg-color2;

    @media (min-width: 1024px) {
        padding-inline: 30px;
        background-color: transparent;
    }     
}